@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
}

.gradient-01 {
    background: linear-gradient(
        90deg,
        rgba(214, 0, 255, 1) 0%,
        rgba(255, 49, 185, 1) 20%,
        rgba(217, 61, 255, 1) 50%,
        rgba(241, 23, 225, 1) 73%,
        rgba(132, 0, 255, 1) 100%
    );
    filter: blur(90px);
}

.gradient-02 {
    background: linear-gradient(
        90deg,
        rgba(214, 0, 255, 1) 0%,
        rgba(255, 49, 185, 1) 20%,
        rgba(217, 61, 255, 1) 50%,
        rgba(241, 23, 225, 1) 73%,
        rgba(132, 0, 255, 1) 100%
    );
    filter: blur(70px);
}

* {
    outline: none;
}